<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="footer-column">
                <h4>Media Eyes</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">Showing News</a></li>
                    <li><a href="#">Analysing Text</a></li>
                    <li><a href="#">Transcripting Video</a></li>
                </ul>
            </div>
            
            <div class="footer-column">
                <h4>Properties</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Security Status</a></li>
                    <li><a href="#">Using Options</a></li>
                </ul>
            </div>
            <!--
            <div class="footer-col">
                <h4>Security of WebApp</h4>
                <ul>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Professional Photography</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Marketing Campaigns</a></li>
                    <li><a href="#">Social Media Posts</a></li>
                </ul>
            </div>-->
            <div class="footer-column">
                <h4>Social Media</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--Copyright e perditesuar duke perdorur javascript-->
     <!-- <p id="copyright"> </p> -->
      <p id="copyright"></p>
  </footer>
